.container {
    display: flex; 
    flex-direction: row;
    height: 100vh; 
    background-color: #C3CDE5; 
    align-items: center; 
    justify-content: center;
}

.scatola {
    
    border-radius: 10px 10px;    
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#logo{
    flex: 1 0 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
    background-color: #3D2892;
    border-radius: 4px 0 0 4px;
}

h1 {
    
    font-size: 48px; 
    color: #fff; 
    font-weight: bold;
}



#form{  
    
    display: flex;
    flex: 1 0 35%;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    
    border-radius: 0 0 4px 4px;
}

#card {
    min-width: 700px;
    padding: 0 16px
    
}