<div class="container">
    <div [formGroup]="loginForm" class="loginform">

        <h2>{{'Login'| translate}}</h2>

        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input formControlName="username"  matInput type="text">           
            <mat-error *ngIf="loginForm.controls['username'].hasError('required')">Username required</mat-error>
        </mat-form-field>

        <span style="padding: 5px;"></span>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input formControlName="password" (keyup)="handleKeyUp($event)" matInput type="password">
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password required</mat-error>
        </mat-form-field>

        <span style="padding: 10px;"></span>
        <button mat-raised-button type="submit" (click)="onSubmit()" color="primary">{{'Login'| translate}}</button>
        <p class="no-account">{{"Don't have an account?" | translate}}</p>
        <a routerLink="/signup">{{"Sign Up Here"|translate}}</a>
        <app-footer class="footer"></app-footer>
    </div>

    <div class="image-container">        
        <div class="floatingDiv">
            <h1>RiskOut<span style="color:#d11616;">></span></h1>
        </div>
    </div>
</div>