<!-- <mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>{{title}}</h1>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon >logout</mat-icon>
    </button>
  </mat-toolbar> -->

  <mat-toolbar  color="primary">
    <button  mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>RiskOut<span style="color: red;">></span> </h1>
    <span class="example-spacer"></span>
    
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <p>{{lang}}</p>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngFor="let lingua of lingue" (click)="funzione(lingua)" mat-menu-item>
        <span>{{lingua}}</span>
      </button>      
    </mat-menu>


    <button mat-icon-button class="example-icon favorite-icon" (click)="logOut()" aria-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
